@model IEnumerable<WebsiteBanQuanAo.Models.tbSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    var idsanpham = "idsanpham";
}
<h2>Có @Html.Action("AdminDemSanPham","AdminDemSanPham")</h2>
<p>
    <a href="@Url.Action("Create","AdminQuanLySanPham")"><i>Thêm sản phẩm</i> </a>
</p>
<table class="table table-bordered table-striped table-hover">
    <tr class="bg-danger text-white">
        <th>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuotXem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuongMua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiSanPham)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        float giasp = (float)item.GiaSanPham;
        float giakm = (float)item.GiaKhuyenMai;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuotXem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaSanPham)
            </td>
            <td>
                @if (item.Sale == true )
                {
                    <b> Đang sale</b>
                }
                else
                {
                    <i>Không sale</i>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuongMua)
            </td>
            <td>
                @if (item.LoaiSanPham == false)
                {
                    <span>Áo</span>
                }
                else
                {
                    <b>Quần</b>
                }
            </td>
            <td>
                <a href="@Url.Action("Edit", "AdminQuanLySanPham", new { id = item.MaSanPham })"><i class="fa fa-edit"></i></a> |
                <a href="#" data-toggle="modal" data-target="#@idsanpham@item.MaSanPham"><i class="fa fa-eye"></i></a> |
                <a href="@Url.Action("Delete", "AdminQuanLySanPham", new { id = item.MaSanPham })"><i class="fas fa-trash-alt"></i></a>
            </td>

        </tr>
        <div class="modal fade" id="@idsanpham@item.MaSanPham" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Thông tin chi tiết</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <pre style="font-size: 15px; font-family: Arial"><strong>
    Tên sản phẩm: @item.TenSanPham
    Size : @item.KichThuocSanPham
    Lượt xem : @item.LuotXem
    Giá : @giasp.ToString("#,##0") VNĐ.
    @if (item.Sale == true)
    {
     <b>Đang SALE.</b>
    }
    else
    {
    <b>Không SALE.</b>
    }
    Mô tả : @item.MoTaSanPham
    Thuộc danh mục : @item.tbDanhMuc.TenDanhMuc
    Ngày tạo : @item.NgayTao
    Giá khuyến mãi : @giakm.ToString("#,##0") VNĐ.
    Sản phẩm : @item.SanPhamMoiorCu
    Lượng mua : @item.LuongMua Người
    @if (item.LoaiSanPham == false)
    {
    <b>Loại :Áo.</b>
    }
    else
    {
    <b>Loại :Quần.</b>
    }
</strong></pre>
                        <img src="~/Content/Layout/images/@item.AnhMatTruoc" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    }

</table>
