@using WebsiteBanQuanAo.Models;
@model tbSanPham
@{
    
    ViewBag.Title = "XemChiTietSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DanhGia sesdg = (DanhGia)Session["dg"];
}

<!--content-->
<div class="content">
    <!--single-->
    <div class="single-wl3">
        <div class="container">
            <div class="single-grids">
                <div class="col-md-9 single-grid">
                    <div clas="single-top">
                        <div class="single-left">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li data-thumb="images/si.jpg">
                                        <div class="thumb-image"> <img src="~/Content/Layout/images/@Model.AnhMatTruoc" data-imagezoom="true" class="img-responsive"> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-right simpleCart_shelfItem">
                            <h4>@Model.TenSanPham</h4>
                            <div class="block">
                                @Html.Action("DanhGia2", "DanhGia2", new { masanpham = Model.MaSanPham })
                            </div>
                            @{ 
                                float gia = (float)Model.GiaSanPham;
                             }
                            <p class="price item_price">@gia.ToString("#,##0") VNĐ.</p>
                            <div class="description">
                                <p><span>Mô tả : </span>@Model.MoTaSanPham</p>
                            </div>
                            <div class="women">
                                <span class="size">Size: @Model.KichThuocSanPham </span>
                                <a href="@Url.Action("ThemVaoGioHang","GioHang", new { masanpham =Model.MaSanPham})" data-text="Add To Cart" class="my-cart-b item_add">Thêm vào giỏ hàng</a>
                            </div>
                            <div class="social-icon">
                                <a href="https://www.facebook.com/hoangmaicuong.99"><i class="icon"></i></a>
                                    
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 single-grid1">
                    <h3>Đồ liên quan</h3>
                        @Html.Action("SanPhamLienQuan", "HienThi", new { loaisanpham = Model.LoaiSanPham })
                </div>
                <div class="clearfix"> </div>
            </div>
            <!--Product Description-->

            <!--Product Description-->
        </div>
    </div>
    <!--single-->
    <div class="new-arrivals-w3agile">
        <div class="container">
            <h3 class="tittle1">Giảm giá mạnh</h3>
            <div class="arrivals-grids">
                @Html.Action("GiamGiaManh", "HienThi")
            </div>
        </div>
    </div>
    <!--new-arrivals-->
</div>
<!--content-->
@{ Html.RenderAction("BinhLuan", "DanhGia", new { masanpham = Model.MaSanPham });}
