@model IEnumerable<WebsiteBanQuanAo.Models.DanhGia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" class="table table-bordered table-striped table-hover">
    <tr class="bg-danger text-white">
        <th>
            @Html.DisplayNameFor(model => model.DanhGia1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbNguoiDung.TenNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbSanPham.TenSanPham)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DanhGia1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbNguoiDung.TenNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbSanPham.TenSanPham)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDanhGia }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDanhGia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDanhGia })
        </td>
    </tr>
}

</table>
