@using WebsiteBanQuanAo.Models;
@{
    ViewBag.Title = "TrangCaNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    tbNguoiDung sesnguoidung = (tbNguoiDung)Session["NguoiDung"];
}

@if (sesnguoidung != null)
{
    <center>
        
        <div class="card" style="width: 600px;">
            <img src="~/Content/Layout/images/Ao2DayNu1 (10).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <b><i class="fa fa-user">&nbsp;</i>Ten nguoi dung: @sesnguoidung.TenNguoiDung</b>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tài khoản : @sesnguoidung.TaiKhoanNguoiDung</label>
                        <small id="emailHelp" class="form-text text-muted"> ( Mọi thông tin sẽ gửi vào Email của bạn.)</small>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group form-check">
                        <div class="form-group">
                            <b>Giới tính :</b>
                            <label for="exampleFormControlSelect1">@sesnguoidung.GioiTinhNguoiDung</label>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <div class="form-group">
                            <b>Địa chỉ :</b>
                            <label for="exampleFormControlSelect1">@sesnguoidung.DiaChiNguoiDung</label>
                            <br />
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <div class="form-group">
                            <b>Số điện thoại :</b>
                            <label for="exampleFormControlSelect1">@sesnguoidung.SDTNguoiDung</label>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sữa thông tin</button>
                    <a href="@Url.Action("DoiMatKhauKhachHang","DoiMatKhauKhachHang")" class="btn btn-primary">Đổi mật khẩu</a>
                    <button type="submit" class="btn btn-primary">Lịch sử đơn hàng</button>
                </form>

            </div>
            <br />
        </div>
    </center>
}
else
{
    Response.Redirect("/Home/Index");
}
