@model WebsiteBanQuanAo.Models.tbDanhMuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbDanhMuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AoOrQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AoOrQuan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDanhMuc }) |
    @Html.ActionLink("Trở lại", "Index")
</p>
