@model IEnumerable<WebsiteBanQuanAo.Models.tbDanhMuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    var iddanhmuc = "iddanhmuc";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Tạo", "Create")
</p>
<table class="table table-bordered table-striped table-hover">
    <tr class="bg-danger text-white">
        <th>
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AoOrQuan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @if (item.GioiTinh == false)
                {
                    <b>Nữ</b>
                }
                else
                {
                    <b>Nam</b>
                }
            </td>
            <td>
                @if (item.AoOrQuan == true)
                {
                    <b>Áo</b>
                }
                else
                {
                    <b>Quần</b>
                }
            </td>
            <td>
                <a href="@Url.Action("Edit", "AdminQuanLyDanhMuc", new { id = item.MaDanhMuc })"><i class="fa fa-edit"></i></a> |
                <a href="#" data-toggle="modal" data-target="#@iddanhmuc@item.MaDanhMuc"><i class="fa fa-eye"></i></a> |
                <a href="@Url.Action("Delete", "AdminQuanLyDanhMuc", new { id = item.MaDanhMuc })"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        <div class="modal fade" id="@iddanhmuc@item.MaDanhMuc" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <pre style="font-size: 15px; font-family: Arial">
                        @item.TenDanhMuc
                        @if(item.AoOrQuan == true)
                        {
                        <b>Loại : Áo</b>
                        }
                        else
                        {
                        <b>Loại : Quần.</b>
                        }
                        @if(item.GioiTinh == true)
                        {
                        <b>Giới tính : Nam.</b>
                        }
                        else
                        {
                        <b>Giới tính : Nữ</b>
                        }
</pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>
    }

</table>
