@model IEnumerable<WebsiteBanQuanAo.Models.CTDatHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    var idctdathang = "idctdathang";
}

<table class="table table-bordered table-striped table-hover">
    <tr class="bg-danger text-white">
        <th>
            @Html.DisplayNameFor(model => model.tbSanPham.TenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTinThanhToan.TenNguoiDung)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbSanPham.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThongTinThanhToan.TenNguoiDung)
            </td>
            <td>
                <a href="#" data-toggle="modal" data-target="#@idctdathang@item.MaCTDatHang"><i class="fa fa-eye"></i></a> |
                <a href="@Url.Action("Delete", "AdminQuanLyDatHang", new { id = item.MaCTDatHang })"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        <div class="modal fade" id="@idctdathang@item.MaCTDatHang" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <pre style="font-size: 15px; font-family: Arial">
@item.tbSanPham.TenSanPham
@item.ThongTinThanhToan.TenNguoiDung
@item.ThongTinThanhToan.tbNguoiDung.DiaChiNguoiDung
@item.ThongTinThanhToan.tbNguoiDung.SDTNguoiDung
@item.ThongTinThanhToan.tbNguoiDung.GioiTinhNguoiDung
</pre>
                        <img src="~/Content/Layout/images/@item.tbSanPham.AnhMatTruoc"
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }

</table>
