@using WebsiteBanQuanAo.Models;
@model List<ClassGioHangTamThoi>
@{
    tbNguoiDung nd = (tbNguoiDung)Session["NguoiDung"];
}
@if (Model == null || Model.Count == 0)
{
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h1>Giỏ hàng trống, vui lòng thêm sản phẩm vào giỏ hàng</h1>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Số lượng</th>
                        <th class="text-center">Tiền</th>
                        <th class="text-center">Tổng tiền</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="~/Content/Layout/images/@item.AnhMatTruoc" style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">@item.TenSanPham</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <b>@item.SoLuong</b>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@item.GiaSanPham.ToString("#,##0").Replace(',', '.')VND</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@item.DonGia.ToString("#,##0").Replace(',', '.')VND</strong></td>
                            <td class="col-sm-1 col-md-1">
                        </tr>
                    }


                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5></h5></td>
                        <td class="text-right"><h5><strong></strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Số lượng</h5></td>
                        <td class="text-right"><h5><strong>@Model.Sum(n => n.SoLuong).ToString("#,##0").Replace(',', '.')</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Tổng tiền</h3></td>
                        <td class="text-right"><h3><strong>@Model.Sum(n => n.DonGia).ToString("#,##0").Replace(',', '.')VND</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
